@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee&family=Smooch+Sans:wght@100;400&display=swap');

:root {
    --font1: 'Acme', sans-serif;
    /*400*/
    --font2: 'Bungee', cursive;
    /*400*/
    --font3: 'Smooch Sans', sans-serif;
    /*100 - 400*/
    --size: 1.1em;
    --light: rgb(255, 255, 255);
    --dark: rgb(12, 12, 12);
    --alpha-dark: rgba(0, 0, 0, .5);
    --txt-dark: rgb(36, 36, 36);

    --first-color-value: rgb(57, 70, 185);
    --second-color-value: rgb(219, 69, 69);
    --shadow-1: #1C1C1C;
    --shadow-2: #000;    
    --green: rgb(0, 168, 98);
    --back-dark-1: #171616;
    --back-dark-2: #121212;
    --back-dark-3: #0F0F0F;
    --index: 50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font3);
    font-size: var(--size);
    color: var(--txt-dark);
    height: 100vh;
}

i {
    display: block;
    transition: all 200ms;
}

audio {
    display: none;
}

.btn{
    cursor: pointer;
}

.style-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #fff;
}

.style-scroll::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--green);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

.style-scroll::-webkit-scrollbar-track {
    background-color: #d8d5d2;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

/****************************
*
*
    MODAL
*
* 
 ***********************/
.modal_game_control {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--index);
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100vh;
    overflow: auto;

    display: none;
    align-items: center;
    justify-content: center;
}

.modal_game_control>.card-action {
    width: 90%;
    max-width: 600px;
    border-radius: 0px 50px 0px 50px;
    background-color: rgba(0, 255, 149, 0.24);
    color: white;
    border: 10px solid rgb(0, 255, 149);
    margin: 50px auto 50px auto;
}

.modal_game_control>.card-action .card-header {
    padding: 25px 25px;
    background-color: rgb(0, 255, 149);
    border-bottom: 2px solid rgb(0, 255, 149);
    font-size: calc(var(--size) + .7em);
    position: relative;
    border-radius: 0px 38px 0px 0px;
    font-family: var(--font2);
}

.modal_game_control>.card-action .btn-close-Modal {
    display: block;
    position: absolute;
    top: -10px;
    right: -20px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: rgb(0, 255, 149);
    box-shadow: 0px 0px 8px rgba(1, 190, 112, 0.753);
    cursor: pointer;
}

.modal_game_control>.card-action .card-body {
    padding: 10px 25px;
    font-size: calc(var(--size) + .2em);
    font-family: var(--font1)
}

.modal_game_control>.card-action .card-body>.card-info {
    margin: 25px 0px;
    max-height: 250px;
    overflow: auto;
}

.modal_game_control>.card-action .card-body>.card-info>p {
    margin: 10px 0;
}

.modal_game_control>.card-action .card-body>.card-info>.alert-box {
    background-color: #fff;
    color: var(--back-dark-1);
    padding: 5px;
    border-radius: 5px;
}


.modal_game_control>.card-action .card-body>.card-info .icon-link {
    color: #fff;
    display: block;
}

.modal_game_control>.card-action .card-body>.card-control {
    margin: 25px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_game_control>.card-action .card-body>.card-control>.btn-action-modal {
    display: block;
    margin: 0px 15px;
    font-size: calc(var(--size) + .8em);
    border-radius: 5px;
    color: rgb(0, 255, 149);
    background-color: var(--light);
    padding: 10px 15px;
}

.cl-text {
    color: rgb(0, 255, 149);
}

/**************** FIN MODAL ********************/

/****************************
*
*
    MODAL - VOLUME
*
* 
 ***********************/
.hide{
    opacity: 0;
    transform: translateY(-100%);
}

.show{
    opacity: 1;
    transform: translateY(0);
}

.modal_volume{
    position: fixed;
    right: 10px;
    top: 5px;
    border-radius: 10px;
    z-index: var(--index);
    background-color: var(--dark);
    color: var(--green);
    font-size: var(--size);
    transition: all 250px linear;
    overflow: hidden;
}

.modal_volume > .card-header{
    line-height: 3em;
    position: relative;
}
.modal_volume > .card-header span{
    font-size: calc(var(--size) + .5em);
    margin-left: 10px;
}

.modal_volume > .card-header .btn_hide_volumen{
    position: absolute;
    right: 15px;
    top: 8px;
}

.modal_volume > .card-body{
    display: grid;
    grid-template-columns: 30px 1fr;
    padding: 10px;
}
.modal_volume > .card-body p {
    text-align: center;
    padding: 5px;
    font-weight: 800;
}

.modal_volume > .card-body .style_input_range{
    overflow: hidden;
    width: 200px;
    -webkit-appearance: none;
    background-color: #ccc;
    border-radius: 8px;
    height: 15px;
    margin: 9px 0 0 0;
}

.modal_volume > .card-body .style_input_range::-webkit-slider-runnable-track {
    height: 15px;
    -webkit-appearance: none;
    color: var(--dark);
    /*margin-top: -1px;*/
}

.modal_volume > .card-body .style_input_range::-webkit-slider-thumb {
    border-radius: 100%;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    cursor: ew-resize;
    background: var(--dark);
    box-shadow: -210px 0 0 200px var(--green);
}

/****************************
*
*
    DISPLAYS
*
* 
 ***********************/
.game_first_display, .game_second_display {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: auto;
}

.game_first_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game_first_display img.wallpaper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    filter: blur(5px);
}

.game_first_display::after {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    background-color: var(--alpha-dark);
    position: absolute;
    top: 0;
    left: 0;
    z-index: calc(var(--index) - 25); /* 1 */
}

.game_first_display>.content {
    z-index: calc(var(--index) - 20); /* 5 */
}

.game_first_display>.game_title {
    font-size: calc(var(--size)+4em);
    color: var(--green);
    text-shadow: 0px 5px 0px rgb(42, 255, 166);
    font-family: var(--font2);
    text-align: center;
}

.game_control {
    margin: 25px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game_control>.btn {
    font-size: calc(var(--size)+7em);
    background-color: transparent;
    border: none;
    text-align: center;
    border-radius: 50%;
    transition: all 200ms;
}

.game_control>.btn:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 50px transparent;
}

.game_control .btn-action {
    color: var(--dark);
}

.game_control .btn-action2 {
    color: var(--dark);
}

.game_control>.btn i {
    background-color: var(--green);
    border-radius: 50%;
}

.game_control .btn:hover i {
    color: rgb(223, 223, 223);
}

.game_control>.__game_control {
    margin: 25px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_control>.__game_control .btn {
    font-size: calc(var(--size)+1.9em);
    background-color: var(--green);
    border: none;
    border-radius: 2px;
    padding: 8px 10px;
    text-align: center;
    margin: 0px 5px;
}

.game_second_display {
    color: #fff;
    display: none;
    background-color: var(--back-dark-1);
}

.game_second_display .title-box{
    font-family: var(--font1);
    font-size: calc(var(--size) + 3em);
    text-align: center;
    margin: 15px auto 25px auto;
}
@media screen and (min-width: 768px) {
    .game_second_display .title-box{
        font-size: calc(var(--size) + 5em);
    }
}
/**************************
 * 
 * 
 *  DETAILS SECTION
 * 
 * 
 ************************/
.card-game-state {
    max-width: 800px;
    width: 95%;
    margin: 15px auto;
}

.card-game-state>.card-header {
    font-family: var(--font1);
    font-size: calc(var(--size) + .9em);
    text-align: center;
}
.card-game-state>.card-body {
    font-size: calc(var(--size) + .1em);
    margin: 15px auto;
}
.card-game-state>.card-body>.score-counter-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px 0px;
    text-align: center;
}

.card-game-state>.card-body>.score-counter-box .game-result-box{
    font-size: calc(var(--size) + .2em);
    padding: 10px 0;
}
.card-game-state>.card-body>.score-counter-box .game-result-box .style_value{
    font-size: calc(var(--size) + .5em);
}
.card-game-state>.card-body>.score-counter-box .game-result-box i.btn{
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
}

.card-game-state>.card-body>.score-counter-box .game-result-box i.btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.card-game-state>.card-body>.score-counter-box .game-result-box:nth-of-type(4){
    background-color: var(--first-color-value);
}
.card-game-state>.card-body>.score-counter-box .game-result-box:nth-of-type(5){
    background-color: var(--second-color-value);
}
.card-game-state>.card-body>.score-counter-box .game-result-box:nth-of-type(6){
    background-color: var(--back-dark-2);
}
/**************************
 * 
 * 
 *  SECTION GAME
 * 
 * 
 ************************/
.box-game {
    box-shadow: 0px 0px 20px var(--shadow-1);
    background-color: var(--back-dark-2);
    width: 300px;
    height: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

div.item {
    box-shadow: 0px 0px 10px var(--shadow-2);
    background-color: var(--back-dark-2);
    border-radius: 5px;
    display: grid;
    cursor: pointer;
    font-family: var(--font2);
}

div.item span.value {
    place-self: center;
    font-size: calc(var(--size) + .9em);
    font-weight: bold;
}

.first_color_value {
    color: var(--first-color-value);
}

.second_color_value {
    color: var(--second-color-value);
}


@media screen and (min-width: 768px) {
    .game_first_display {
        justify-content: center;
    }

    .game_control {
        margin: 100px auto 0px auto;
    }

    .game_first_display>.game_title {
        font-size: calc(var(--size)+7em);
    }
}
